.page-premium {
	text-align: center;
	margin: 0 0 60px 0;
}
.premium-wrapper {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 40px 0 0 0;
}
.premium-columns {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 30px;
	width: 350px;
	height: 620px;
	background-color:$color-white;
	transition: 0.4s all;
	margin: 10px 0 0 0;
	cursor: pointer;

	&:hover{
		background-color:	$color-gallery;
		transition: 0.4s all;
		box-shadow: 0px 3px 12px -2px $color-slate-gray;
	}

	& p:nth-child(3) {
		font-size: 28px;
		color: $color-azure;
		border-bottom: none;
		
		& span {
			font-size: 80px;
			color: $color-azure;
			font-weight: bold;
		}
	}

	& p {
		color: $color-slate-gray;
		font-size: 23px;
		font-weight: bolder;
		border-bottom: 1px solid $color-slate-gray;
		padding: 0 0 10px;
		& span {
			font-weight: 300;
		}
	}
	
	& h5 {
		color: $color-azure;
		font-size: 16px;
		margin: 10px 0 10px 0;
	}

	& button {
		background: none;
		border: 2px solid $color-slate-gray;
		border-radius: 20px;
		width: 60%;
		padding: 15px;
		margin:  0 auto;
		transition: 0.4s all;
		font-weight: bolder;
		text-transform: uppercase;
		&:hover{
			background: $color-Tree-Poppy;
			border: 2px solid $color-Tree-Poppy;
			transition: 0.4s all;
		}
	}
}
.premium-border {
	background: $color-azure;
	height: 2px;

	&-silver, &-gold, &-platinium {
		width: 40%;
		margin: 0 auto;
	}
	&-silver {
		border-bottom: 2px solid  $color-merkury;
	}
	&-gold {
		border-bottom: 2px solid  #ff9d1d;
	}
	&-platinium {
		border-bottom: 2px solid  $color-merkury;
	}
}