/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

 $color-white: white;
 $color-anakiwa: #88C9FF;
 $color-black: black;