/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

 $color-white: white;
 $color-anakiwa: #88C9FF;
 $color-black: black;
 $color-oslo: #91989d;
 $color-azure: #007EE5;
 $color-Tree-Poppy:#FF9D1D;
 $color-Pine-Glade: #BED194;
 $color-gallery: #F0F0F0;
 $color-merkury: #E7E7E7;
 $color-silver: Silver;
 $color-woodsmoke: #18191A;
 $color-silver-chalice: #A2A2A2;
 $color-Tea-Blue: #053C6B;
 $color-alto: #dbdbdb;
 $color-slate-gray: #788697;