.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.flex-justify-content {
	justify-content: center;
}
.flex-space-around {
	justify-content: space-around;
}
.flex-space-between {
	justify-content: space-between;
}
.flex-space-evently {
	justify-content: space-evenly;
}
.align-items-baseline {
	align-items: baseline;
}
.align-items-center {
	align-items: center;
}
.align-content-center {
	align-content: center;
}